body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 100vh;
}

.row {
  height: 100%;
}

.sidebar,
.code-editor,
.output-window {
  height: 100%;
  border: 1px solid #ddd;
  padding: 20px;
}

.sidebar {
  background-color:#bfdbdfdc;
}

.code-editor {
  background-color: #fbfcfc;
}

.output-window {
  background-color: #bfdbdfdc;
}

.panel-3-id {
  font-size: 12px;
  color: #333;
}

.context-menu-option {
  cursor: pointer;
}

.context-menu-option:hover {
  background-color: #0a0c0f;
  color: #e6dbdb;
}

.readonly-field {
  background-color: #888;
  color: #888;
}

.navbar {
  padding: 10px;
  /* Adjust padding as needed */
  font-size: 14px;
  /* Adjust font size as needed */
}

.custom-navbar {
  height: 30px;
  /* Adjust the height to your preference */
}

.draggable-item {
  padding: 2px;
  margin: 2px;
  cursor: move;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.draggable-item:hover {
  background-color: #0fb6c9dc;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #0c0c0c;
}
a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Normal state styling */
a:hover {
  background-color: #bfdbdfdc;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* 100% of viewport height */
}

.center-text {
  text-align: center;
  margin-top: 50px;
}
