.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  @media (min-width: 768px){
  .custom-card {
    width: 100%; /* Change width to 100% for smaller screens */
    max-width: 18rem; /* Set maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 20px;
  }
}
  
  .custom-card:hover {
    transform: translateY(-5px);
    background-color: #f8f9fa; /* Change to desired background color */
  }
  /* MultipleCards.css */

.container {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card {
  margin: 10px;
}
