<th class="minwidth-200" width="25%" data-ref="CONTAINER_ID">{{applbl 'CONTAINER_ID'}}<a class="actioncol1"><i class="icon-menu-open small-font pad5-top"></i></a></th><th class="minwidth-200" width="25%" data-ref="CONTAINER_ID">{{applbl 'CONTAINER_ID'}}<a class="actioncol1"><i class="icon-menu-open small-font pad5-top"></i></a></th><th class="minwidth-200" width="25%" data-ref="CONTAINER_ID">{{applbl 'CONTAINER_ID'}}<a class="actioncol1"><i class="icon-menu-open small-font pad5-top"></i></a></th><th class="minwidth-200" width="25%" data-ref="CONTAINER_ID">{{applbl 'CONTAINER_ID'}}<a class="actioncol1"><i class="icon-menu-open small-font pad5-top"></i></a></th>